<!DOCTYPE html>
<html ng-app="biblioteca" lang="pt-br">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>Página Inicial - Biblioteca</title>

<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/angular.min.js" ></script>
<script type="text/javascript" src="js/angular-route.min.js" ></script>
<script type="text/javascript" src="js/controllers/bibliotecaModule.js"></script>
<script type="text/javascript" src="js/controllers/livroController.js"></script>
<script type="text/javascript" src="js/controllers/pedidoController.js"></script>
<script type="text/javascript" src="js/controllers/reservaController.js"></script>
<script type="text/javascript" src="js/controllers/sugestaoController.js"></script>

</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Biblioteca</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#livros">Livros</a></li>
          <li><a href="#pedidos">Pedidos</a></li>
          <li><a href="#reservas">Reservas</a></li>
          <li><a href="#sugestoes">Sugestões</a></li>
        </ul>
      </div>
    </div>
</nav>

	<div class="container">
		<div id="panelMensagemSucesso" class="alert alert-success alert-dismissable fade in">
		  <button class="close" aria-label="close" ng-click="fecharMensagemSucesso()">&times;</button>
		  <span>{{mensagemSucesso}}</span>
		</div>
		<div id="panelMensagemErro" class="alert alert-danger alert-dismissable fade in">
		  <button class="close" aria-label="close" ng-click="fecharMensagemErro()">&times;</button>
		  {{mensagemErro}}
		</div>	
		<div ng-view></div>
	</div>
	<script type="text/javascript" >
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
	</script>  
</body>
</html>